
.main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 2px solid #1919A6;
    flex-direction:row-reverse;
}
#logout-btn {
    width: auto;
    background: none;
    color: #FFFF00;
    font-size: 30px;
    border: none;
    padding: 0;
    margin: 0;
}

#logout-btn:hover {
    color: #ff3333;
    transform: scale(1.2);
    background: none;
}

.logo-small {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFFF00;
    font-weight: bold;
    font-family: 'Arial Black', sans-serif;
}

.pacman-icon-small {
    width: 0; height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFFF00;
    border-left: 10px solid #FFFF00;
    border-bottom: 10px solid #FFFF00;
    border-radius: 50%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white; 
}

#main-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px; 
    z-index: 10;
}

.container {
    background-color: #000000; 
    padding: 40px;
    border-radius: 15px;
    border: 4px solid #1919A6; 
    box-shadow: 0 0 20px #1919A6; 
    width: 320px;
    text-align: center;
}

h2 {
    color: #FFB8AE; 
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: #222; 
    border: 2px solid #1919A6;
    color: #FFFF00; 
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input::placeholder {
    color: #ccc;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: #FFFF00; 
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: transform 0.2s, background-color 0.2s;
}

button:hover {
    background-color: #FFD700;
    transform: scale(1.05);
}

a {
    color: #00FF00; 
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

#message-box {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.error {
    background-color: #ff3333;
    color: white;
}

.success {
    background-color: #00cc00;
    color: white;
}